.description{

    background-image: linear-gradient(to right,#7D7FF2, #c4c9FD);
    height: 600px;
    z-index: 3;
    color: #5D5FeF;  
    
    position: relative;
    
    
 
}
#home_description_btn{

    margin-top: 20%;
    width: 30%;
    height: 60px;
    border-radius: 20px;
    border-color: black;
    background-color: none;
    background-color: #999AF5;
    color: #5D5FeF;
}
.description_container{
    display: flex;
}
.heading{
    font-size: 40px;

}
.description_left{
    width: 50%;
}
.description_right{
    
    width: 50%;
}
#car{
    width: 550px;
}
.card img{
    height: 80%;
    width: 100%;
}
.numbers{
    background-color: #5D5FeF;
    width: 90%;
    margin-left: 5%;
    height: 180px;
    z-index: 6;
    position: relative;
    top: 60px;
    border-radius: 20px;
    display: flex;
    padding-top: 2%;
    
}
.services{


    height: 600px;
    z-index: 3;
    color: black;
    
    
      
}
.services h1{
    padding-top: 100px;
}
.cards_description{
    display: flex;
    margin-bottom: 30px;
   
    
    width: 100%;
    position: relative;
    
}
.cards_description .card{
    
    /* box-shadow: 0 6px 8px 0 rgba(0,0,0,0.2); */
    /* transition: 0.3s; */
    width: 280px;
    height: 280px;
    /* margin-left: 30px; */
    margin-top: 30px;
    font-size: x-large;
    position: absolute;
    left: 0;

    

  }
/* motion.div{
     margin-left: 500px; 
     position: relative;
    left: 0;
    background-color: red;
}   */
  

.numbers .num1{
    width: 20%;
    color: white;
    margin-left: 4%;
    margin-top: 2%;
}
.num1 h2{
    display: flex;
    margin-left: 100px;
}



/* .description button{
    width: 200px;
    color: #5D5FeF;
    border-radius: 20px;
    height: 50px;
} */

@media only screen and (max-width: 420px) {
    .description{
        width: 100%;

        background-image: linear-gradient(to right,#7D7FF2, #c4c9FD);
        height: 400px;
        z-index: 3;
        color: #5D5FeF;  
    }
    .description_left{
        width: 50%;
        font-size: 50%;
    }
    .numbers{
        background-color: #5D5FeF;
        width: 90%;
        /* margin-left: 5%; */
        height: 90px;
        z-index: 6;
        position: relative;
        top: 50px;
        border-radius: 20px;
        display: flex;
        font-size: 50%;
    }
    .services{
    
    
        height: 600px;
        z-index: 3;
        color: black;
        
        
          
    }
    .services h1{
        padding-top: 100px;
    }
    .cards{
        display: flex;
        margin-bottom: 30px;
    }
    .card {
        
        box-shadow: 0 6px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 20%;
        height: 100px;
        /* margin-left: 4%; */
        margin-top: 30px;
        font-size: small;
      }
    
    .numbers .num1{
        width: 20%;
        color: white;
        margin-left: 4%;
        margin-top: 2%;
    }
    .num1 h2{
        display: flex;
        margin-left: 20px;
    }
    
    
    .description button{
        width: 50%;
        color: #5D5FeF;
        border-radius: 20px;
        height: 50px;
    }

}