.navbar{
    height: 80px;
    width: 100%;
    background-color: #D1D2FA;
    background-image: linear-gradient(to right,#B5B6F8,#E8E8FD);
    border-radius: 2px;
    display: flex;
    color: #4D4D4D;
}
.navbar p{
    margin-top: 25px;
    padding-left: 60px;
}
#navbar_items{
    
    /* padding-top: 20px; */
    margin-left: 300px;

    padding-right: 30px;
    justify-content: left;
}
#navbar_items svg{
    margin-left: 30px;
    /* padding-top: 25px; */
    color: black;
    
}
#navbar_items input{
    margin-left: 35px;
    height: 35px;
    width: 70Spx;
    border-radius: 10px;
    background-color: #D1D2FA;
    border: 1px solid #5D5FEF;
}

.navbar h1{
    color: #5D5FEF;
    margin-left: 100px;
}

.navbar p:hover{
    margin-top: 25px;
    padding-left: 50px;
    color: #5D5FEF;
    text-decoration: underline;
}
@media only screen and (max-width: 420px) {
    .navbar p{
        margin-top: 35px;
        padding-left: 5px;
        font-size: 10px;
    }
    .navbar h1{
        color: #5D5FEF;
        margin-left: 20px;
    }
    
    .navbar p:hover{
        margin-top: 35px;
        padding-left: 5px;
        font-size: 10px;
    
        color: #5D5FEF;
        text-decoration: underline;
    }
    
  }